{% extends 'layout.twig'%}

{% block title %}Error{% endblock %}

{% block content %}
    <div class="text-center p-4">
        <h2 class="text-4xl">Oops!</h2>
        <p class="mb-4">
            We can't seem to find the page. <br>
            you're looking for.
        </p>
        <small class="italic">
            Código de error: 404
        </small>
    </div>
{% endblock %}
