{% extends 'layout.twig'%}

{% block title %}Error{% endblock %}

{% block content %}

    <section class="error">
        <div class="row">
            <div class="small-12 columns">
               <h2>View Error</h2>
            </div><!--FIN COLUMN-->
        </div><!--FIN ROW-->

    </section><!--FIN SECTION-->

{% endblock %}


