
{% extends 'layout.twig'%}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="container">
        <header class="row header large-collapse">
            <h1>Header</h1>
        </header>
        <section>
            <h1>Content</h1>
        </section>
        <div class="row large-collapse">
            <div class="small-12 columns">
                <form action="store" method="POST" id="lead" data-abide novalidate>
                    <h1>Test</h1>
                        <label>
                            Name
                            <input type="text" name="name" required>
                            <span class="form-error">This field is required.</span>
                        </label>
                        <label>
                            Email
                            <input type="email" name="email" required>
                            <span class="form-error">This field is required.</span>
                        </label>
                    <button class="button" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div><!--END CONTAINER-->

{% endblock %}
