
{% extends 'layout.twig'%}

{% block title %}Home{% endblock %}

{% block content %}
    <section>
        <h2>Example Form With Vuejs</h2>
        {{ include('partials/alerts.twig')}}
        <app-form></app-form>
    </section>
{% endblock %}
