
{% extends 'layout.twig'%}

{% block title %}Home{% endblock %}

{% block content %}

	<div class="container">
	    <header class="row header large-collapse">
	        <h1>Header</h1>
	    </header>

	    <section>
	    	<h1>Content: {{user}}</h1>
	    </section>

	    <div class="row large-collapse">
	        <div class="small-12 columns">
	            <form action="quiz" method="POST" id="quiz">
	             	   
	            </form>
	        </div>
	    </div>

	</div><!--FIN CONTAINER-->

{% endblock %}