
{% extends 'layout.twig'%}

{% block title %}Thanks{% endblock %}

{% block content %}

	<section class="thanks">
	    <div class="row">
	        <div class="small-12 columns">
	            Thanks
	        </div><!--FIN COLUMN-->
	    </div><!--FIN ROW-->
	</section><!--FIN SECTION-->

{% endblock %}


