{% extends 'layout.twig'%}

{% block title %}Error{% endblock %}

{% block content %}
    <div class="text-center p-4">
        <h2 class="text-4xl">Oops!</h2>
        <p class="mb-4">
            The page has expired due to inactivity.
        </p>
        <p>
            Please refresh and try again
        </p>
    </div>
{% endblock %}
