{% if flash.getMessage('info') %}
    <div class="bg-blue-lightest border-l-4 border-blue p-4 mt-6 fixed pin-t pin-r" role="alert">
        <div class="blue-dark">
            {{ flash.getMessage('info') | first }}
        </div>
    </div>
{% endif %}

{% if flash.getMessage('error') %}
    <div class="bg-red-lightest border-l-4 border-red p-4 mt-6 fixed pin-t pin-r" role="alert">
        <div class="text-red">
            {{ flash.getMessage('error') | first }}
        </div>
    </div>
{% endif %}
