APP_NAME=Slim
APP_DEBUG=true
SITE_URL=http://slim-starter-kit.test
VIEW_CACHE_DISABLED=true

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

SET_TIME_LOCATE=America/Guayaquil

MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=

MAIL_FROM=digital@company.com
NAME_COMPANY="Company Name"
LEAD_EMAIL_SUBJECT="Thank you for contacting us"
ADMIN_EMAIL_SUBJECT="New Lead"
ADMIN_EMAIL=adminemail@mydomain.com

VALIDATOR_LANG=es
