# Disable index view
Options -Indexes

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

# Hide .env Files
<Files .env>
    Order allow,deny
    Deny from all
</Files>
